.Home {
  text-align: center;
}

.Home-logo {
  height: 30vmin;
  pointer-events: none;
  border-radius: 20%;
}

.Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p{
  margin-top: 4%;
}

::selection {
  background-color: #b3d4fc;
}