.logo {
  position: fixed;
  bottom: 70px;
  right: 25px;
  width: 50px; /* Ajusta el ancho según tus necesidades */
  height: 50px; /* Ajusta la altura según tus necesidades */
  background: transparent url('../images/agua.png') no-repeat center;
  background-size: 80%;
  cursor: pointer;
  z-index: 1000; /* Asegura que esté por encima del contenido */
  border: 1.5px solid black; /* Añade un borde de 2px en color negro */
  border-radius: 50%;
  transition: all 0.3s; /* Agrega una transición suave para todos los cambios */
}

.logo:hover {
    transform: scale(1.2); /* Cambia el tamaño al 120% al pasar el mouse */
    position: fixed;
    bottom: 70px;
    right: 25px;
    width: 50px; /* Ajusta el ancho según tus necesidades */
    height: 50px; /* Ajusta la altura según tus necesidades */
    background: transparent url('../images/agua.png') no-repeat center;
    background-size: 80%;
    cursor: pointer;
    z-index: 1000; /* Asegura que esté por encima del contenido */
    border: 1.5px solid white; /* Añade un borde de 2px en color negro */
    border-radius: 50%;
    transition: all 0.3s; /* Agrega una transición suave para todos los cambios */
  }

.contenedorLogo {
  padding: 4px; /* Agrega espacio entre la imagen y el borde (ajusta según tus preferencias) */
}